<link rel="stylesheet" type="text/css" href="/css/views/create.css"> 


<ul class="nav nav-pills nav-stacked" class="text-center">
  <li class="active" ng-click="isReplyFormOpen = !isReplyFormOpen">
    <a href="#">What are the options?</a>
  </li>

  <div ng-show="isReplyFormOpen" id="replyForm"> </div>
  <div ng-show="isReplyFormOpen">

    <section ng-controller="CompareGroupsController">
  <form class="form-horizontal" ng-submit="create()"  role="form"  >
   <div class="form-group">


 <img src="/img/icons/glyphicons_432_plus.png" ng-click="add_option()">
    
    <div ng-repeat="option in optionArray">
      <div class="row">
        <input type="text" class="col-xs-3" ng-model="name" id="title" placeholder="option" required>  
      </div>
    </div>

    
   <div class="form-group">
      <center>
        <div class="col-md-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </center>
  </div>
  </form>


</section> 
  </div>
           
  <li><a href="#">What attributes influence your decision?</a></li>
  <li><a href="#">More about those attributes</a></li>
  <li><a href="#">Scores</a></li>
   <li><a href="#">Results</a></li>
</ul>



























<center>
  <input  class="searchForm" ng-model="myFilter.name" placeholder="Search for an option" >  
</center>


  <button  ng-click="isReplyFormOpen = !isReplyFormOpen" class="center-block">If it doesn't already exist, click me to create it!</button>


<div ng-show="isReplyFormOpen" id="replyForm"> </div>

<section data-ng-controller="CompareGroupsController" class='optionKanyeWestCreate'   ng-show="isReplyFormOpen">



<!-- <form class="form-horizontal" ng-submit="create()"  role="form">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" bgcolor="#E6E6FA">Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" ng-model="name" id="name" placeholder="Name" required>
      </div>
  </div>
 -->
  

  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">attributes</label>

    <img src="/img/icons/glyphicons_432_plus.png" ng-click="add_attribute()">
    
    <div ng-repeat="att in attributesArray">
      <div class="row">
        <input type="text" class="col-xs-3" ng-model="att.attributeName" id="title" placeholder="attribute" required>  

        <div class="col-xs-3">
          <input type="text" class="form-control" ng-model="att.score"  placeholder= "score" required>
        </div>  
          
        <div class="col-xs-3">
              <input type="text" class="form-control" ng-model="att.unitOfMeasurement" placeholder= "unit of measurement" required>
        </div>
        
      </div>
    </div>
    
 <div class="form-group">
    
      <div class="col-md-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
       </div>
    
</div>
</form> 
</section>



<section ng-controller="CompareGroupsController" ng-init="find()">
<ul>
<center>
    <li class='optionKanyeWest' ng-repeat= "compareGroup in compareGroups | filter:myFilter.name">
      
      <h3>{{compareGroup.name}}</h3>
      Attributes: 
      <div class="num-friends" ng-repeat= "attribute in compareGroup.attributes">
          {{attribute.attributeName}}:
          {{attribute.score}}
          {{attribute.unitOfMeasurement}}
      </div>
    </li>
    </center>
  </ul>
</section> 







	
